/*untuk facebook card*/
.facebook-card .card-header {
display: block;
padding: 10px;
}
.facebook-card .facebook-avatar {
float: left;
}
.facebook-card .facebook-name {
margin-left: 44px;
font-size: 14px;
font-weight: 500;
}
.facebook-card .facebook-date {
margin-left: 44px;
font-size: 13px;
color: #8e8e93;
}
.facebook-card .card-footer {
background: #fafafa;
}
.facebook-card .card-footer a {
color: #81848b;
font-weight: 500;
}
.facebook-card .card-content img {
display: block;
}
.facebook-card .card-content-inner {
padding: 15px 10px;
}  